@charset "UTF-8";

/*
*   Auteur: Cédric Devost
*   Date: 2018-12-03
*   Description: Fichier SCSS pour le TP2
*/
/*VARIABLES POUR LA COULEUR DE CERTAINS ÉLÉMENTS*/
/*VARIABLES POUR LES BORDURES ET LES ARGUMENTS DES DISPLAYS*/
/*MIXIN POUR AFFECTER LE DISPLAY FLEX ET LA DIRECTION*/
/*MIXIN POUR AFECTER UN TEXTE SHADOW*/
/*MIXIN POUR les transition 3D*/
/*******************************Début SCSS*/
/*******************************Mise en page générale*/
/*******************************Mise en page spécifique pour les fenêtre de plus de 960px également*/
* {
    font-family: 'Poppins', sans-serif;
}

html {
    margin: 0 auto;
    max-width: 100%;
    background-image: url("../images/monsieur.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 500px;
    background-color: #f1f1f1;
}

body {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #f1f1f1;
}

#slogan {
    width: 600px;
    height: 38px;
    margin-top: 25px;
    visibility: hidden;
}

header {
    background-color: #f1f1f1;
}

header div:nth-child(1) {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header div:nth-child(1) a {
    margin-top: 10px;
}

h1 {
    font-size: 1.2em;
    margin-top: 40px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: -20px;
    text-shadow: 2px 2px black;
    padding-bottom: 10px;
}

/*******************************Mise en page Navigation*/
a {
    color: #f1f1f1;
}

.active {
    background: #bb4b01;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #1d73be;
}

li a {
    text-decoration: none;
    padding: 20px 20px;
    display: inline-block;
    height: 20px;
    transition: background 0.3s;
}

li a:hover {
    background: #bb4b01;
    transition: background 0.3s;
}

#retour {
    display: none;
}

/*******************************Mise en page Section 1*/
#pageIndex {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("../images/bus.jpg");
    background-size: 1200px;
    background-repeat: no-repeat;
}

#pageCarte {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("../images/busLong.jpg");
    background-size: 1200px;
    background-repeat: no-repeat;
}


main section:nth-child(1) h2 {
    margin-bottom: 0px;
}

main section:nth-child(1) {
    background-color: rgba(124, 134, 144, 0.50);
    font-size: 1.3em;
    padding: 1px 0 85px 0;
    text-shadow: 2px 2px black;
}

main section:nth-child(1) article form {
    background-color: rgba(187, 75, 1, 0.70);
    margin: 0 165px;
    padding: 65px 0;
}

main section:nth-child(1) article a {
    text-decoration: none;
    font-size: 2em;
    background-color: aquamarine;
    padding: 0 25px;
    border-radius: 25px;
    transition: padding 0.3s;
}

main section:nth-child(1) article a:hover {
    color: red;
    padding: 10px 40px;
    transition: padding 0.3s;
}

input[type=submit],
button {
    background-color: #1d73be;
    border: none;
    color: #f1f1f1;
    padding: 10px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1em;
    text-shadow: 2px 2px black;
    box-shadow: 2px 2px black;

}

input[type=submit]:hover,
button:hover {
    background-color: #0285c7;
    text-shadow: 2px 2px black;
    transition: background 0.3s;
}


/*******************************Mise en page Section 2*/
main section:nth-child(2) {
    background-color: #1d73be;
    height: 100%;
    padding: 1px 20px 50px;
    text-shadow: 2px 2px black;
}

main section:nth-child(2) div {
    display: flex;
    flex-direction: row;

}

main section:nth-child(2) img {
    width: 300px;
}

main section:nth-child(2) p {
    padding: 0 25px;
}

main p {
    text-shadow: none;
}

article p {
    text-shadow: 2px 2px black;
}

h6 {
    font-family: 'Cinzel', serif;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*******************************Mise en page Section 3*/
main section:nth-child(3) {
    background-color: rgba(124, 134, 144, 0.70);
    color: #f1f1f1;
    perspective: 1000px;
    text-shadow: 2px 2px black;
}

main section:nth-child(3) div:nth-child(1) {
    display: flex;
    flex-direction: row;
    text-align: left;
}

main section:nth-child(3) div:nth-child(1) div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main section:nth-child(3) div:nth-child(2) {
    display: flex;
    flex-direction: row;
    text-align: left;
}

main section:nth-child(3) div:nth-child(2) div {
    display: flex;
    flex-direction: column;
}

main section:nth-child(3) div div aside {
    display: flex;
    flex-direction: row;
}

/******************************************Section responsable de la ROTATION des images à l'hover*/
main section:nth-child(3) div img {
    width: 60px;
    border-radius: 30px;
    transform: rotateY(0deg);
    transition: 0.6s;
    transform-style: preserve-3D;
}

main section:nth-child(3) div img:hover {
    transform: rotateY(180deg);
    transition: 0.6s;
    transform-style: preserve-3D;
}

/*******************************Mise en page pour billets*/
#billets {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: rgba(124, 134, 144, 0.70);
    padding: 0 0 20px 20px;
    text-shadow: none;
    color: black;
}

#pageIndex #billets {
    color: white;
}

#billets h2,
#billets h3 {
    color: #f1f1f1;
    text-shadow: 2px 2px black;

}

#billets div article div p:nth-child(1) {
    border-bottom: 1px solid black;
}

#billets div article {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#ulBillet {
    flex-direction: column;
    list-style-type: none;
}

#ulBillet li {
    margin-bottom: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(187, 75, 1, 0.70);
    width: 600px;
    margin-right: 40px;
}

#ulBillet li div {
    display: flex;
    flex-direction: column;
}

#ulBillet li div p {
    padding: 0;
}

#ulBillet li img {
    width: 60px;
    height: 60px;
    padding-top: 40px;
}

#ulBillet li div:nth-child(3) {
    margin: 50px 0 0 50px;
}

#ulBillet li div:nth-child(3) {
    display: none;
}

#billets div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

main section:nth-child(1) div:nth-child(2) {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

main section:nth-child(1) div:nth-child(2) ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main section:nth-child(1) div:nth-child(2) ul li {
    padding: 0;
    margin: 0 20px;
    border-bottom: 1px solid black;
}

main section:nth-child(1) div:nth-child(2) aside {
    display: flex;
    flex-direction: row;
}

/*******************************Mise en page concernant les tableaux*/
table:nth-child(1) {
    border: 1px solid black;
    text-shadow: none;
}

th,
td {
    padding: 20px;
}

th,
td:first-child {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: beige;
    color: #000d1a;
}

tr:nth-child(1n+1) {
    background-color: #000d1a;
}

/*******************************Mise en page concernant la page Contact*/
#contact {
    width: 100px;
    transform: rotate(90deg);
}

/*******************************Mise en page du Footer*/
footer {
    background-color: #000d1a;
}

footer section:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}

footer section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

footer section:nth-child(2) aside {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

footer section:nth-child(2) aside p {
    border-bottom: 1px solid #f1f1f1;
}

footer section:nth-child(2) aside a {
    border-right: 1px solid #f1f1f1;
    text-align: left;
}

footer section:nth-child(2) aside a:hover {
    border-right: 1px solid #000d1a;
}

footer section:nth-child(2) aside p:nth-child(3) {
    border-bottom: none;
}

/*******************************Mise en page spécifique pour les fenêtre de maximum 960px*/
@media screen and (max-width: 960px) {

    /*******************************Mise en page générale*/
    main section:nth-child(1) {
        background-color: rgba(124, 134, 144, 0.50);
    }

    /*******************************Mise en page Navigation*/
    ul {
        flex-direction: column;
    }

    /*******************************Mise en page Pages chambres et tarifs*/
    #billets {
        flex-direction: column;
    }

    #billets div article div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #billets div:nth-child(2) {
        flex-direction: row;
    }

    /*******************************Mise en page des tableaux*/
    #billets div article div:nth-child(2) table td {
        width: 200px;
    }

    #billets div article div:nth-child(2) table {
        border: none;
    }

    table:nth-child(2) {
        border: 1px solid black;
        text-shadow: none;
    }

    table:nth-child(3) {
        border: 1px solid black;
        text-shadow: none;
    }

    /*******************************Mise en page de la Section 2*/
    main section:nth-child(2) div {
        flex-direction: column;
    }

    /*******************************Mise en page de la Section 3*/
    main section:nth-child(3) div:nth-child(1) {
        flex-direction: column;
    }

    main section:nth-child(3) div:nth-child(2) {
        flex-direction: column;
    }

    /*******************************Mise en page du Footer*/
    footer section:nth-child(1) {
        flex-direction: column;
    }
}

/*******************************Mise en page spécifique pour les fenêtre de maximum 480px*/
@media screen and (max-width: 480px) {

    /*******************************Mise en page Pages chambres et tarifs*/
    #chambre div article div:nth-child(2) {
        flex-direction: column;
    }

    #chambre div:nth-child(2) aside {
        flex-direction: column;
    }

    #chambre div:nth-child(2) {
        flex-direction: column;
    }

    /****************************** Resonsable de l'Arrêt de la rotation 3D*/
    main section:nth-child(3) div img:hover {
        transform: rotateY(0deg);
    }

    /*******************************Mise en page Footer*/
    footer section:nth-child(2) {
        flex-direction: column;
        padding-left: 70px;
    }
}
